@model IEnumerable<Estudantes_CodeLopp_.Models.ViewModels.AlunoMaeEnderecoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeCompletoAluno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSerieDeIngresso)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDaResidencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.NomeCompletoMae)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPreferencialPagamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompletoAluno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSerieDeIngresso)
        </td>
                <td>
            @Html.DisplayFor(modelItem => item.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroDaResidencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.NomeCompletoMae)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPreferencialPagamento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Ver detalhadamente", "Detalhes", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
